In [41]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
url = 'https://www.amazon.in/s?k=wrist+watch+for+men&sprefix=wrist+wat%2Caps%2C291&ref=nb_sb_ss_ts-doa-p_1_9'
web_content = requests.get(url, verify=False).content
soup = BeautifulSoup(web_content, "html.parser")
# print(soup)

C:\Users\Admin\Anaconda3\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [42]:
products = []
for result in soup.select('.s-result-item'):
    name_elem = result.find('span', {'class': 'a-size-base-plus a-color-base a-text-normal'})
    if name_elem is not None:
        name = name_elem.text.strip()
    else:
        name = 'Name not available'

    price_elem = result.find('span', {'class': 'a-price-whole'})
    if price_elem is not None:
        price = price_elem.text.strip()
    else:
        price = 'Price not available'

    rating_elem = result.find('span', {'class': 'a-icon-alt'})
    if rating_elem is not None:
        rating_text = rating_elem.text.strip()
        rating = round(float(rating_text.split()[0]))
    else:
        rating = 'Rating not available'

    products.append((name, price, rating))

In [43]:
df = pd.DataFrame(products, columns=['Name', 'Price', 'Rating'])
df.head(5)

,Name,Price,Rating
0,Name not available,Price not available,Rating not available
1,Silicone Strap Analog Wrist Watch for Men (Bla...,397,4
2,Analog Day Date Functioning Stainless Steel Ch...,319,4
3,Analog Black Dial Men's Watch-TW000R438,"1,739",4
4,Analog OffWhite Dial Men's Watch NM1712YM02 / ...,"1,995",4

In [44]:
df.drop(df.loc[df['Name'] == 'Name not available'].index, inplace=True)
# df=df.set_index(,*,drop=True)
df.head(5)

                                                Name  Price Rating
1  Silicone Strap Analog Wrist Watch for Men (Bla...    397      4
2  Analog Day Date Functioning Stainless Steel Ch...    319      4
3            Analog Black Dial Men's Watch-TW000R438  1,739      4
4  Analog OffWhite Dial Men's Watch NM1712YM02 / ...  1,995      4
6                                 Analog Men's Watch  1,099      4

In [45]:
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df.head(10)

                                                 Name  Price  Rating
1   Silicone Strap Analog Wrist Watch for Men (Bla...    397     4.0
2   Analog Day Date Functioning Stainless Steel Ch...    319     4.0
3             Analog Black Dial Men's Watch-TW000R438  1,739     4.0
4   Analog OffWhite Dial Men's Watch NM1712YM02 / ...  1,995     4.0
6                                  Analog Men's Watch  1,099     4.0
7   Analog Black Dial Business Stainless Steel Wri...    489     5.0
8   Analog Day & Date Display Wrist Watch for Men ...    299     4.0
9    Grant Chronograph Blue Dial Men's Watch - FS5151  7,497     5.0
10  Mesh Steel Chain Analog Wrist Watch for Men (L...    329     4.0
11  Classics Analog Silver Dial Men's Watch -TW000...  1,886     4.0

In [46]:
mean=int(df['Rating'].mean(skipna=True))
df['Rating']=df['Rating'].replace(np.NaN,mean)
df.head(10)

                                                 Name  Price  Rating
1   Silicone Strap Analog Wrist Watch for Men (Bla...    397     4.0
2   Analog Day Date Functioning Stainless Steel Ch...    319     4.0
3             Analog Black Dial Men's Watch-TW000R438  1,739     4.0
4   Analog OffWhite Dial Men's Watch NM1712YM02 / ...  1,995     4.0
6                                  Analog Men's Watch  1,099     4.0
7   Analog Black Dial Business Stainless Steel Wri...    489     5.0
8   Analog Day & Date Display Wrist Watch for Men ...    299     4.0
9    Grant Chronograph Blue Dial Men's Watch - FS5151  7,497     5.0
10  Mesh Steel Chain Analog Wrist Watch for Men (L...    329     4.0
11  Classics Analog Silver Dial Men's Watch -TW000...  1,886     4.0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 1 to 51
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    49 non-null     object
 1   Price   49 non-null     object
 2   Rating  49 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.5+ KB

In [48]:
df.to_csv('amazon_web_scrap.csv')

In [49]:
df2=pd.read_csv("amazon_web_scrap.csv")
df2.head(10)

NameError: name 'amazon_web_scrap' is not defined